<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta property="og:site_name" content="Inivo - Login" />
    <meta property="og:title" content="Inivo - Login" />
    <meta property="og:image" content="images/logo.png" />
    <link rel="shortcut icon" href="images/logo.png" />
    <title>Ürünler - Bagstash Çantaları</title>
  </head>
  <body>
    <section id="dashboard">
        <header>
            <div class="header_title">
                <a href="#">AnaMenü</a>
            </div>
            <nav>
                <ul>
                    <li class="active"><a href="list.html">Ürünler</a>
                        <ul> 
                            <li><a href="list.html">Ürünleri Listele</a></li>
                            <li><a href="add.html">Ürün Ekle</a></li> 
                            <li><a href="#">Ürün Kategorileri</a></li>
                        </ul>
                    </li>
                    <li><a href="list.html">Duyurular</a>
                        <ul> 
                            <li><a href="list.html">Duyuruları Listele</a></li>
                            <li><a href="add.html">Duyuru Ekle</a></li>  
                        </ul>
                    </li>
                    <li><a href="list.html">Slider</a>
                        <ul> 
                            <li><a href="list.html">Sliderları Listele</a></li>
                            <li><a href="add.html">Slider Ekle</a></li>  
                        </ul>
                    </li>
                    
                    <li><a href="settings.html">Ayarlar</a>
                        <ul> 
                            <li><a href="settings.html">Genel Ayarlar</a></li>
                            <li><a href="settings.html">Görsel Ayarlar</a></li>  
                            <li><a href="settings.html">...</a></li>  
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="header_bottom">
                <a href="index.html">Çıkış ></a>
            </div>
        </header>
        <main>
            <div class="inner">
                <div class="title">
                    <h1>Ürünler</h1>
                    <a class="add_new" href="add.html">Yeni Ürün Ekle</a>
                </div>
                <div class="content">
                    <div class="inside">
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox">
                                    </th>
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Başlık
                                    </th>
                                    <th>Tarih</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody> 
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>1</td>
                                    <td>Lorem Ipsum Dolor Set Amet...</td>
                                    <td>15/11/2021</td>
                                    <td>
                                        <a href="#" class="see">Görüntüle</a>
                                        <a id="edit" href="add.html">
                                            Düzenle
                                        </a>
                                        <a href="#delete" id="delete" onclick="return confirm('Silmek istediğinize emin misiniz?')">
                                            Sil
                                        </a>
                                    </td>
                                </tr>

                                
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>2</td>
                                    <td>Lorem Ipsum Dolor Set Amet...</td>
                                    <td>15/11/2021</td>
                                    <td>
                                        <a href="#" class="see">Görüntüle</a>
                                        <a id="edit" href="add.html">
                                            Düzenle
                                        </a>
                                        <a href="#delete" id="delete" onclick="return confirm('Silmek istediğinize emin misiniz?')">
                                            Sil
                                        </a>
                                    </td>
                                </tr>

                                
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>3</td>
                                    <td>Lorem Ipsum Dolor Set Amet...</td>
                                    <td>15/11/2021</td>
                                    <td>
                                        <a href="#" class="see">Görüntüle</a>
                                        <a id="edit" href="add.html">
                                            Düzenle
                                        </a>
                                        <a href="#delete" id="delete" onclick="return confirm('Silmek istediğinize emin misiniz?')">
                                            Sil
                                        </a>
                                    </td>
                                </tr>

                                
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>4</td>
                                    <td>Lorem Ipsum Dolor Set Amet...</td>
                                    <td>15/11/2021</td>
                                    <td>
                                        <a href="#" class="see">Görüntüle</a>
                                        <a id="edit" href="add.html">
                                            Düzenle
                                        </a>
                                        <a href="#delete" id="delete" onclick="return confirm('Silmek istediğinize emin misiniz?')">
                                            Sil
                                        </a>
                                    </td>
                                </tr>

                                
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>5</td>
                                    <td>Lorem Ipsum Dolor Set Amet...</td>
                                    <td>15/11/2021</td>
                                    <td>
                                        <a href="#" class="see">Görüntüle</a>
                                        <a id="edit" href="add.html">
                                            Düzenle
                                        </a>
                                        <a href="#delete" id="delete" onclick="return confirm('Silmek istediğinize emin misiniz?')">
                                            Sil
                                        </a>
                                    </td>
                                </tr>

                                
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>6</td>
                                    <td>Lorem Ipsum Dolor Set Amet...</td>
                                    <td>15/11/2021</td>
                                    <td>
                                        <a href="#" class="see">Görüntüle</a>
                                        <a id="edit" href="add.html">
                                            Düzenle
                                        </a>
                                        <a href="#delete" id="delete" onclick="return confirm('Silmek istediğinize emin misiniz?')">
                                            Sil
                                        </a>
                                    </td>
                                </tr>

                                
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>7</td>
                                    <td>Lorem Ipsum Dolor Set Amet...</td>
                                    <td>15/11/2021</td>
                                    <td>
                                        <a href="#" class="see">Görüntüle</a>
                                        <a id="edit" href="add.html">
                                            Düzenle
                                        </a>
                                        <a href="#delete" id="delete" onclick="return confirm('Silmek istediğinize emin misiniz?')">
                                            Sil
                                        </a>
                                    </td>
                                </tr>

                                
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>8</td>
                                    <td>Lorem Ipsum Dolor Set Amet...</td>
                                    <td>15/11/2021</td>
                                    <td>
                                        <a href="#" class="see">Görüntüle</a>
                                        <a id="edit" href="add.html">
                                            Düzenle
                                        </a>
                                        <a href="#delete" id="delete" onclick="return confirm('Silmek istediğinize emin misiniz?')">
                                            Sil
                                        </a>
                                    </td>
                                </tr>

                                
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>9</td>
                                    <td>Lorem Ipsum Dolor Set Amet...</td>
                                    <td>15/11/2021</td>
                                    <td>
                                        <a href="#" class="see">Görüntüle</a>
                                        <a id="edit" href="add.html">
                                            Düzenle
                                        </a>
                                        <a href="#delete" id="delete" onclick="return confirm('Silmek istediğinize emin misiniz?')">
                                            Sil
                                        </a>
                                    </td>
                                </tr>

                                
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>10</td>
                                    <td>Lorem Ipsum Dolor Set Amet...</td>
                                    <td>15/11/2021</td>
                                    <td>
                                        <a href="#" class="see">Görüntüle</a>
                                        <a id="edit" href="add.html">
                                            Düzenle
                                        </a>
                                        <a href="#delete" id="delete" onclick="return confirm('Silmek istediğinize emin misiniz?')">
                                            Sil
                                        </a>
                                    </td>
                                </tr>

                                
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>11</td>
                                    <td>Lorem Ipsum Dolor Set Amet...</td>
                                    <td>15/11/2021</td>
                                    <td>
                                        <a href="#" class="see">Görüntüle</a>
                                        <a id="edit" href="add.html">
                                            Düzenle
                                        </a>
                                        <a href="#delete" id="delete" onclick="return confirm('Silmek istediğinize emin misiniz?')">
                                            Sil
                                        </a>
                                    </td>
                                </tr>

                                
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>12</td>
                                    <td>Lorem Ipsum Dolor Set Amet...</td>
                                    <td>15/11/2021</td>
                                    <td>
                                        <a href="#" class="see">Görüntüle</a>
                                        <a id="edit" href="add.html">
                                            Düzenle
                                        </a>
                                        <a href="#delete" id="delete" onclick="return confirm('Silmek istediğinize emin misiniz?')">
                                            Sil
                                        </a>
                                    </td>
                                </tr>

                                
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>13</td>
                                    <td>Lorem Ipsum Dolor Set Amet...</td>
                                    <td>15/11/2021</td>
                                    <td>
                                        <a href="#" class="see">Görüntüle</a>
                                        <a id="edit" href="add.html">
                                            Düzenle
                                        </a>
                                        <a href="#delete" id="delete" onclick="return confirm('Silmek istediğinize emin misiniz?')">
                                            Sil
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>14</td>
                                    <td>Lorem Ipsum Dolor Set Amet...</td>
                                    <td>15/11/2021</td>
                                    <td>
                                        <a href="#" class="see">Görüntüle</a>
                                        <a id="edit" href="add.html">
                                            Düzenle
                                        </a>
                                        <a href="#delete" id="delete" onclick="return confirm('Silmek istediğinize emin misiniz?')">
                                            Sil
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>15</td>
                                    <td>Lorem Ipsum Dolor Set Amet...</td>
                                    <td>15/11/2021</td>
                                    <td>
                                        <a href="#" class="see">Görüntüle</a>
                                        <a id="edit" href="add.html">
                                            Düzenle
                                        </a>
                                        <a href="#delete" id="delete" onclick="return confirm('Silmek istediğinize emin misiniz?')">
                                            Sil
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div id="pagination">
                            <ul>
                                <li class="selected"><a href="#" dsaibled="disabled">1</a></li>
                                <li><a href="#" dsaibled="disabled">2</a></li>
                                <li><a href="#" dsaibled="disabled">3</a></li>
                                <li><a href="#" dsaibled="disabled">10</a></li>
                                <li><a href="#" dsaibled="disabled">>></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </section>
  </body>
</html>
